body {
    margin: 0px auto;
    max-width: none;
}

header h1 {
    font-size: 4rem;
}

nav li a {
    font-size: 1.2rem;
    margin: 0 25px 0 25px;
}

section {
    max-width: 900px;
}

.inner-wrap {
    max-width: 800px;
}

.two-column {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 25px;
    max-width: 900px;
}

section a:hover,
.mySlides a:hover {
    color: #FFAD05;
}

.parallax {
    position: initial;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
}

.parallax1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/hotel-large.jpg");
}

.parallax2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/hotel-front-large.jpg");
}

.parallax3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/temple-large.jpg");
}

.parallax button {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

button:hover {
    color: #FFAD05;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 5px 10px 8px #012A36;
}

.img-wrap {
    display: none;
}

.spotlight-head {
    max-width: 900px;
}

.mySlides {
    max-width: 900px;
}

.mySlides picture img {
    max-width: 800px;
}

.testimonials img {
    max-width: 200px;
}

.contact-form h3 {
    margin-bottom: 25px;
    margin-left: 25px;
}

footer a:hover {
    text-decoration: underline;
}