body {
    margin: 0px auto;
    max-width: 800px;
}

.quote {
    font-size: 1em;
    text-align: left;
    margin-right: 15px;
    display: flex;
}

.quote img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    float: right;
}

#welcome-image {
    float: left;
    margin-right: 25px;
    display: block;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    /* border-radius: 50%; */
    flex-shrink: 1;
    object-fit: cover;
    width: 100%;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

.two-column {
    max-width: 600px;
}

.spotlight {
    grid-template-columns: auto 1fr auto;
}

.spotlight-head {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.spotlight h2 {
    margin-left: 25px;
    margin-top: 15px;
}

.mySlides {
    max-width: 800px;
}

.mySlides picture img {
    max-width: 400px;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header h1 {
    font-size: 3rem;
    padding-right: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
}

#menu-link {
    display: none;
}

nav {
    color: #fff;
    background-color: #d8d0c1;
    font-size: 1.5em;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px;
}

nav a {
    margin: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #d8d0c1;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    max-height: 2em;
}

nav li {
    display: inline;
    float: left;
}

nav li:hover {
    background-color: #fffbfe;
}

nav li a {
    display: block;
    color: #012a36;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

nav li:hover a {
    color: #ffad05;
}

#current-page a:hover {
    color: #fff;
}

.menu {
    list-style: none;
    display: inline;
}

.featured {
    width: 100%;
    max-width: 664px;
    object-fit: cover;
}

.testimonials {
    max-width: 800px;
    display: grid;
    grid-template-areas: "div div div";
    grid-gap: 70px 5%;
}

.testimonials-wrap h2 {
    margin-left: 25px;
}

.testimonials img {
    max-width: 150px;
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.third-comment {
    display: block;
}

.img-wrap {
    max-width: none;
    margin: 0 auto;
}

.inner-wrap {
    max-width: 600px;
}

.parallax {
    height: 400px;
}

.parallax button {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

section.threeColumn {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 0 25px;
    max-width: 900px;
}

section a:hover,
div a:hover {
    color: #ffad05;
}

#item1 {
    grid-row-start: 2;
    grid-column-start: 1;
}

#item2 {
    grid-row-start: 2;
    grid-column-start: 2;
}

#item3 {
    grid-row-start: 2;
    grid-column-start: 3;
}

footer {
    font-size: 1rem;
}