#fullwidth{
    width:100%;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: 12px solid black;
    box-sizing: border-box;
    top: 0;
    z-index: 20;
}
#image{
    position: relative;
    width: 500px;
}

#image img {
    width: 500px;
}
.overlay{
    position: absolute;
    right: 50px;
    width: 50px;
    background-color: white;
    height: 50px;
    top: 50%;
}
#image2{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 50px 50px 1fr; 
    width: 500px;
}
.img{
    grid-row: 1/-1;
    width: 500px;
    z-index: 6;
}
.overlay2{
    grid-column: 2;
    grid-row: 2;
    z-index: 12;
}
.favfood{
    position: absolute;
    bottom: 0;
    right: 50%;
    
}

.learned{
    grid-column: 2;
    grid-row: 3;
    z-index: 10;
}