@media only screen and (min-width: 32.5em){
    
    body{
        background-color: brown;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }

section{
    background-color: white;
    justify-items: center;
}

}