body{
    background-color:brown;
}

header{
    text-justify: center;
    font-size: 60px;
    background-color:gray;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

/* img{
    size: 150px;
} */
.nikesection{
    background-color:gray; 
    grid-column: span 1;
} 

footer{
    justify-self: center;
}
