body{
    background-color:brown;
}

header{
    text-align: center;
    font-size: 30px;
    background-color:gray;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding-top: 20px;
    margin: 30px;
}

footer{
    text-align: center;
}

img{
    width: 600px;
    /* height: 80px; */
}

section{
    padding: 20%;
} 

.section1{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
}

.section2{
    background-color: burlywood;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
}

.section3{
    background-color: lightgray;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
}